<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>Gemini Station Modtree</title>

  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

  <link rel="stylesheet" href="../assets/vendor/Treant.css">
  <link rel="stylesheet" href="../assets/vendor/tooltipster.bundle.min.css">
  <link rel="stylesheet" href="../assets/css/tech-tree.css">

  <script src="../assets/vendor/Treant.js"></script>
  <script src="../assets/vendor/raphael.min.js"></script>
  <script src="../assets/vendor/jquery.min.js"></script>
  <script src="../assets/vendor/jquery.touchy.min.js"></script>
  <script src="../assets/vendor/tooltipster.bundle.min.js"></script>
  <script src="../assets/vendor/lozad.min.js"></script>
  <script src="../assets/vendor/jsrender.min.js"></script>
  <script src="../assets/js/tech-tree.js"></script>
  <script src="../assets/js/dynamic-drag.js"></script>
  <script src="../assets/js/header.js"></script>

  <script id="node-template" type="text/x-jsrender">
    <div class="icon lozad" data-background-image="../assets/img/{{:key}}.png"></div>
    <p class="node-name" title="{{:name}}">{{:name}}</p>
    <p class="node-title">
      {{:category}}
    </p>
    <p class="node-desc">
    Cost: <span class="{{:area}}-research">{{:cost}}, Item Level: {{:item_level}}</span>
    </p>
    <p class="node-desc" style="color:yellow">
    {{if is_geministation === true}}
      <img src="../assets/icons/gemini.png" height="44" width="44"/>
    {{/if}}
    {{if is_earth === true}}
      <img src="../assets/icons/earth.png" height="44" width="44"/>
    {{/if}}
    {{if is_mars === true}}
      <img src="../assets/icons/mars.png" height="44" width="44"/>
    {{/if}}
    {{if is_jupiter === true}}
      <img src="../assets/icons/jupiter.png" height="44" width="44"/>
    {{/if}}
    {{if is_mercury === true}}
      <img src="../assets/icons/mercury.png" height="44" width="44"/>
    {{/if}}
    {{if is_eris === true}}
      <img src="../assets/icons/eris.png" height="44" width="44"/>
    {{/if}}
    {{if is_hive_empire === true}}
      <img src="../assets/icons/yes.png"/><img src="../assets/icons/auth_hive_mind.png" height="21" width="21"/>
    {{/if}}
    {{if is_hive_empire === false}}
      <img src="../assets/icons/no.png"/><img src="../assets/icons/auth_hive_mind.png" height="21" width="21"/>
    {{/if}}
    {{if is_megacorp === true}}
      <img src="../assets/icons/yes.png"/><img src="../assets/icons/auth_corporate.png" height="21" width="21"/>
    {{/if}}
    {{if is_megacorp === false}}
      <img src="../assets/icons/no.png"/><img src="../assets/icons/auth_corporate" height="21" width="21"/>
    {{/if}}
    </p>
    <div class="extra-data">   
    {{if potential.length > 0}}
        <div class="tooltip-header">Requirements</div>
        <div class="tooltip-content"><pre>{{:potential.join('<br/>')}}</pre></div>
    {{/if}}
    {{if feature_unlocks.length > 0}}
        <div class="tooltip-header">Mod Info</div>
        <div class="tooltip-content">{{:feature_unlocks.join('<br/>')}}</div>
    {{/if}}
    {{if reputation.length > 0}}
    <div class="tooltip-header">Reputation Required</div>
    <div class="tooltip-content">{{:reputation.join('<br/>')}}</div>
    {{/if}}
    {{if description.length > 0}}
    <div class="tooltip-header">Description</div>
    <div class="tooltip-content">{{:description}}</div>
    {{/if}}
  </div>
  </script>
</head>

<body>
<ul class="float-Holder">
  <li class="float-Element float-Highlight float-All">
    <a href="#top" class="float-Contents">
      <h2>All <img src="../assets/icons/all.png" class="float-Image"> </h2>
    </a>
  </li>
  <li class="float-Element float-Lowlight float-Armor">
    <a href="#top" class="float-Contents">
      <h2>Armor <img src="../assets/icons/armor.png" class="float-Image"> </h2>
    </a>
  </li>
  <li class="float-Element float-Lowlight float-Shields">
    <a href="#top" class="float-Contents">
      <h2>Shields <img src="../assets/icons/shield.png" class="float-Image"> </h2>
    </a>
  </li>
  <li class="float-Element float-Lowlight float-Weapons">
    <a href="#top" class="float-Contents">
      <h2>Weapons <img src="../assets/icons/blaster.png" class="float-Image"> </h2>
    </a>
  </li>
  <li class="float-Element float-Lowlight float-Sensors">
      <a href="#top" class="float-Contents">
        <h2>Sensors <img src="../assets/icons/sensor.png" class="float-Image"> </h2>
      </a>
  </li>
  <li class="float-Element float-Lowlight float-Engines">
      <a href="#top" class="float-Contents">
        <h2>Engines <img src="../assets/icons/engine.png" class="float-Image"> </h2>
      </a>
    </li>
  <li class="float-Element float-Lowlight float-Utility">
    <a href="#top" class="float-Contents">
      <h2>Utility<img src="../assets/icons/computer.png" class="float-Image"> </h2>
    </a>
  </li>
  <li class="float-RightElement float-RightBuffer">
    <a href="../index.html" class="float-RightContents">
      <h2><img src="../assets/icons/back_button.png" class="float-RightImage"> Back</h2>
    </a>
  </li>
  <li class="float-RightElement">
    <a href="#top" class="float-RightContents">
      <h2><img src="../assets/icons/up_to_top.png" class="float-RightImage"> Top</h2>
    </a>
  </li>
</ul>
<div id="tech-tree" style="margin-top:50px">
  <div id="tech-tree-armor">

  </div>
  <div id="tech-tree-shields">

  </div>
  <div id="tech-tree-weapons">

  </div>

  <div id="tech-tree-sensors">

  </div>

  <div id="tech-tree-engines">

  </div>
    
  <div id="tech-tree-utility">

  </div>
</div>
</body>
</html>
